.cover__title {
  max-width: 560px;
  margin: 0 0 16px;
  text-align: center;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 720px) {
  .cover__title {
    max-width: 520px;
    font-size: 68px;
  }
}

@media screen and (max-width: 568px) {
  .cover__title {
    max-width: 288px;
    margin: 0 0 10px;
    font-size: 32px;
    line-height: 1.09;
  }
}
